<div id="login">
    <div class="align">
        <div class="middle">
            <div class="container-box clearfix">
                <div class="box">
                    <header class="text-center"><h3>Portal do usuário</h3></header>
                    <form action="dashboard.html">
                        <div class="form-group">
                            <input type="text" placeholder="Digite seu cpf" class="form-control cpf">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Digite sua senha" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" functionBasics> Lembrar de mim
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-default full waves-effect">Entrar</button>
                            <a href="#" class="btn btn-link">Esqueceu sua senha?</a>
                        </div>
                    </form>
                </div>
                <div class="box aux">
                    <div class="align">
                        <div class="middle text-center">
                            <div class="animated fadeInUp">
                                <img src="src/images/logo-g.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>