<div class="content">
    <aside class="sidebar sidebar-default">
        <header class="logo">
            <a href="/">
                <img src="src/images/logo-white.png" alt="">
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle full" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Portal do usuário <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="waves-effect" href="#">E-sic</a></li>
                    <li><a class="waves-effect" href="#">TCE Admin</a></li>
                    <li><a class="waves-effect" href="#">Sispatri</a></li>
                    <li><a class="waves-effect" href="#">Siai Análise</a></li>
                </ul>
            </div>
        </header>
        <ul class="menu">
            <li *ngFor="let item of menu;" [ngClass] = "{'dropdown' : item.submenu != false}">
                <a href="{{item.url}}" class="waves-effect">
                    <i class="fa fa-{{item.icon}}"></i> {{item.title}}
                    <span [hidden]="item.submenu == false" class="pull-right"><i class="fa fa-chevron-down"></i></span>
                </a>
                <ul [hidden]="item.submenu == false">
                    <li *ngFor="let itemSub of item.submenu;"><a [routerLink]="[itemSub.url]" href="{{itemSub.url}}" class="waves-effect">{{itemSub.title}}</a></li>
                </ul>
            </li>
        </ul>
        
    </aside>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <button id="mobile-button" class="hidden-lg hidden-md waves-effect"><i class="fa fa-bars"></i></button>
                        <form action="" method="get" class="search">
                            <div class="form-group">
                                <label for="search"><i class="fa fa-search"></i></label>
                                <input type="text" id="search" class="form-control"
                                        placeholder='Pressione "Enter" para pesquisar'>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <ul class="settings">
                            <li class="drop-alert">
                                <a href="javascript:void(0);"><i class="fa fa-bell"></i></a>
                                <ul class="dropdown-alert">
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">
                                            <span class="divider"><i class="fa fa-bell-o"></i></span>
                                            Existe processo eletrônico no seu setor <span class="badge">5</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cog"></i></a>
                            </li>
                            <li>
                                <div class="user">
                                    <a href="#">
                                        <img src="src/images/user-default.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sign-out"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <router-outlet ></router-outlet>

        <div class="btn-floating" style="overflow: hidden;">
            <a href="#" data-toggle="tooltip"
                data-placement="left" title="Mudar de sistema" id="sistemaOpen"><i class="fa fa-refresh"></i></a>
            
            <a href="#" id="open" data-toggle="tooltip" data-placement="left"
                title="Mesa eletrônica"><i class="fa fa-eye"></i></a>
            
            <span><i class="fa fa-plus"></i></span>
            
            <a href="#" class="left" data-toggle="tooltip"
                data-placement="top" title="Perguntas frequentes" id="sistemaOpen"><i class="fa fa-question"></i></a>
            
            <a href="#" class="left" data-toggle="tooltip"
                data-placement="top" title="Lista de pessoal TCE" id="sistemaOpen"><i class="fa fa-id-card"></i></a>
            
            <a href="#" class="left" data-toggle="tooltip"
                data-placement="top" title="Telefones" id="sistemaOpen"><i class="fa fa-phone"></i></a>
            
            <a href="#" class="left" data-toggle="tooltip"
                data-placement="top" title="Aniversariantes do mês" id="sistemaOpen"><i class="fa fa-birthday-cake"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
                data-placement="top" title="Mapa do site" id="sistemaOpen"><i class="fa fa-map"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
            data-placement="top" title="Minhas anotações" id="sistemaOpen"><i class="fa fa-clipboard"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
            data-placement="top" title="Relatórios emitidos no dia" id="sistemaOpen"><i class="fa fa-file-text"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
            data-placement="top" title="Cardápio do restaurante" id="sistemaOpen"><i class="fa fa-cutlery"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
            data-placement="top" title="Correio Eletrônico" id="sistemaOpen"><i class="fa fa-envelope"></i></a>

            <a href="#" class="left" data-toggle="tooltip"
            data-placement="top" title="Contando Idéias" id="sistemaOpen"><i class="fa fa-lightbulb-o"></i></a>
            
        </div>
    </div>
</div>

<div id="mesa-eletronica">
    <div class="align">
        <div class="middle">
            <div class="container">
                <ul>
                    <li class="wow fadeInUp" data-wow-delay="0.1s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.3s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.8s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.9s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1.1s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1.2s">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <p>Proc./ Doc. Eletrônicos no Setor <span>(305)</span></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <button id="close" class="btn btn-dial waves-effect">
        <i class="fa fa-times"></i>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="sistema" tabindex="-1" role="dialog" aria-labelledby="sistemaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Escolha um sistema</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle full" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Portal do usuário <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="waves-effect" href="#">E-sic</a></li>
                        <li><a class="waves-effect" href="#">TCE Admin</a></li>
                        <li><a class="waves-effect" href="#">Sispatri</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>